.idea
.vscode
.history
node_modules
!/packages/admin/src/typings/auto-import.d.ts

!/packages/admin/src/typings/components.d.ts

!/packages/client/src/typings/auto-import.d.ts

!/packages/client/src/typings/components.d.ts

!/packages/typings/src/httpTypes/

!/packages/server/logs/

!/packages/server/public/
