.idea
.vscode
.history
node_modules

**/components.d.ts
**/.eslintrc-auto-import.json
**/auto-import.d.ts

**/apiTypes
**/dist

/packages/server/public
/packages/server/logs
!/packages/client/.hbuilderx/
