$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs24: 24px;

$space14: 14px;
$space28: 28px;


$primaryColor: #fb7299;
$successColor: #18a058;
$warningColor: #f0a020;
$errorColor: #d03050;


$fontColor1: #18191C;
$fontColor2: #61666D;
$fontColor3: #9499A0;