$primary-color: #ed556a;
$primary-color-light: #f1939c;
$warning-color-1: #fff0e3;
$warning-color-2: #e58900;
$success-color: #2ac864;

$spacing-sm: 4px;
$spacing-base: 8px;
$spacing-lg: 16px;

$font-size-ssm: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-20: 20px;
$font-size-22: 22px;

$text-color-1: #18191c;
$text-color-2: #61666d;
$text-color-3: #9499a0;
$text-color-inverse: #fff;

$border-color: #f1f2f3;

$border-radius-sm: 4px;
$border-radius-base: 8px;
$border-radius-lg: 16px;
$border-radius-circle: 50%;

$background-color: #fff;
$background-color-grey: #f8f8f8;
