$primary_color: var(--el-color-primary);

$primary_color_danger: var(--el-color-danger);

$primary_color_success: var(--el-color-success);

$primary_bg_color: var(--el-bg-color);

$border_color: var(--el-border-color);

$primary_fill_color: var(--el-fill-color-light);
